.contactUs,
.reservation,
.signin {
    background-color: $color-dark-2;
    padding: 12.8rem 0;

    .container {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    &__text {
        margin-bottom: 3.6rem;

        p {
            margin-top: 1.2rem;
            display: flex;
            align-items: center;

            span {
                font-size: inherit;
            }

            a {
                display: flex;
                align-items: center;
            }
        }
    }

    &__icon {
        font-size: inherit;
        color: $color-telphone;
        margin-left: 0.4rem;
        animation: wobble-hor-bottom 0.8s both infinite;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    30% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
    45% {
        -webkit-transform: rotate(-3.6deg);
        transform: rotate(-3.6deg);
    }
    60% {
        -webkit-transform: rotate(2.4deg);
        transform: rotate(2.4deg);
    }
    75% {
        -webkit-transform: rotate(-1.2deg);
        transform: rotate(-1.2deg);
    }
}
